
  
  body, .navBar {
    text-align: center;
  }
  
  .navBar {
    display: inline-block;
    background-color: #444;
    margin: 30px auto 0 auto;
    border-radius: 3px;
    box-shadow: 0px 8px 30px -4px hsla(0, 0%, 0%, 0.6);
  }
  
  .navBar .navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navBar .navMenu .menuItem {
    display: inline-block;
    margin: 0;
  }
  
  .navBar .navMenu .menuItem .itemLink {
    display: block;  
    color: #fff;
    text-decoration: none;
    height: 35px;
    width: 100px;
  }
  
  .navBar .navMenu .menuItem .itemLink:hover {
    background-color: #999;
    color: #444;
    transition: all .4s;
  }
  
  .navBar .navMenu .menuItem .first {
    border-radius: 3px 0 0 3px;
  }
  
  .navBar .navMenu .menuItem .last {
    border-radius: 0 3px 3px 0;
  }
  
  .navBar .navMenu .menuItem .itemLink .itemIcon {
    display: block;
    padding: 4px 0 0 0;
    line-height: 20px;
  }
  
  
  
  
  
  