.u-section-1 .u-sheet-1 {
  min-height: 578px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 58px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18.6667px) calc(33.3333% - 18.6667px) calc(33.3333% - 18.6667px);
  min-height: 414px;
  grid-gap: 28px 28px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 17px;
}

.u-section-1 .u-image-1 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #f1b5b8, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 17px auto 0;
  padding: 7px 21px;
}

.u-section-1 .u-icon-1 {
  font-size: 0.7em;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 17px;
}

.u-section-1 .u-image-2 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #f1b5b8, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 17px auto 0;
  padding: 7px 21px;
}

.u-section-1 .u-icon-2 {
  font-size: 0.7em;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 17px;
}

.u-section-1 .u-image-3 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #f1b5b8, white);
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 17px auto 0;
  padding: 7px 21px;
}

.u-section-1 .u-icon-3 {
  font-size: 0.7em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 362px;
  }

  .u-section-1 .u-image-1 {
    height: 226px;
  }

  .u-section-1 .u-image-2 {
    height: 226px;
  }

  .u-section-1 .u-image-3 {
    height: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 14.000024999999999px));
    min-height: 832px;
  }

  .u-section-1 .u-image-1 {
    height: 260px;
  }

  .u-section-1 .u-image-2 {
    height: 260px;
  }

  .u-section-1 .u-image-3 {
    height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 390px;
  }

  .u-section-1 .u-image-2 {
    height: 390px;
  }

  .u-section-1 .u-image-3 {
    height: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1654px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 10px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1216px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
  }
}